// Basado en el esquema oscuro oficial de Just the Docs,
// con el acento cambiado de morado a un verde-azulado.

$body-background-color: $grey-dk-300;
$sidebar-color: $grey-dk-300;
$border-color: $grey-dk-200;
$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
$code-background-color: $grey-dk-250;
$feedback-color: darken($body-background-color, 3%);

// 👇 Este es el que cambia el color de acento (links, botones, hover del sidebar)
$link-color: #0e3c4b;
$btn-primary-color: #791012;